@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Victim Website</h1>
    <br>
    <p>Attach me if you can</p>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Student Id</th>
                <th>Clas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Trần Thị Nhung</td>
                <td>B22DTCN031</td>
                <td>Computer Science</td>
            </tr>
            <tr>
                <td>Hoàng Hữu Huyên</td>
                <td>B22DTCN031</td>
                <td>Electrical Engineering</td>
            </tr>
            <tr>
                <td>Quách Nam Thắng</td>
                <td>B22DTCN031</td>
                <td>Mathematics</td>
            </tr>
            <tr>
                <td>Phạm Vũ Long</td>
                <td>B22DTCN031</td>
                <td>Physics</td>
            </tr>
            <tr>
                <td>Trịnh Trọng Quát</td>
                <td>B22DTCN031</td>
                <td>Chemistry</td>
            </tr>
            <tr>
                <td>Phạm Nhật Hoàng<nav></nav></td>
                <td>B22DTCN031</td>
                <td>Biology</td>
            </tr>
        </tbody>
    </table>
</div>
